In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('datasets/movie_metadata.csv')
df2 = pd.read_csv('datasets/movies_metadata.csv')
df3 = pd.read_csv('datasets/credits.csv')
df4 = pd.read_csv('datasets/keywords.csv')
df5 = pd.read_csv('datasets/links_small.csv')
df6 = pd.read_csv('datasets/links.csv')
df7 = pd.read_csv('datasets/ratings_small.csv')
df8 = pd.read_csv('datasets/ratings.csv')

/media/remon/Study1/Projects/AI/movie-dataset-2023/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df1.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df3.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [6]:
df4.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [7]:
df5.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
df6.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [9]:
df7.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [10]:
df8.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [11]:
df4.iloc[0, 1]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [12]:
df1.shape

(5043, 28)

In [13]:
df1.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [14]:
df = df1.loc[:, ['movie_title', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'duration',
       'genres', 'movie_imdb_link', 'language', 'country', 'budget', 'gross',  'title_year', 'imdb_score']]

In [15]:
df.rename(columns={'movie_title': 'title', 'movie_imdb_link': 'imdb_link', 'title_year': 'year'}, inplace=True)

In [16]:
df['title'] = df['title'].str.lower()

In [17]:
df['title'][0]

'avatar\xa0'

In [18]:
df['title'] = df['title'].apply(lambda x : x[:-1])

In [19]:
df['title'][0]

'avatar'

In [20]:
df['genres'] = df['genres'].str.replace('|', ' ')

In [21]:
df

,title,director_name,actor_1_name,actor_2_name,actor_3_name,duration,genres,imdb_link,language,country,budget,gross,year,imdb_score
0,avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,178.0,Action Adventure Fantasy Sci-Fi,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,237000000.0,760505847.0,2009.0,7.9
1,pirates of the caribbean: at world's end,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,169.0,Action Adventure Fantasy,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,300000000.0,309404152.0,2007.0,7.1
2,spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,148.0,Action Adventure Thriller,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,245000000.0,200074175.0,2015.0,6.8
3,the dark knight rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164.0,Action Thriller,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,250000000.0,448130642.0,2012.0,8.5
4,star wars: episode vii - the force awakens ...,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,Documentary,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,signed sealed delivered,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,87.0,Comedy Drama,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,English,Canada,NaN,NaN,2013.0,7.7
5039,the following,NaN,Natalie Zea,Valorie Curry,Sam Underwood,43.0,Crime Drama Mystery Thriller,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,English,USA,NaN,NaN,NaN,7.5
5040,a plague so pleasant,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,76.0,Drama Horror Thriller,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,English,USA,1400.0,NaN,2013.0,6.3
5041,shanghai calling,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,100.0,Comedy Drama Romance,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,English,USA,NaN,10443.0,2012.0,6.3
5042,my date with drew,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,90.0,Documentary,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,English,USA,1100.0,85222.0,2004.0,6.6

In [22]:
df.isna().sum()

title              0
director_name    104
actor_1_name       7
actor_2_name      13
actor_3_name      23
duration          15
genres             0
imdb_link          0
language          12
country            5
budget           492
gross            884
year             108
imdb_score         0
dtype: int64

In [23]:
df2.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [24]:
df['year'].value_counts().sort_index()

1916.0      1
1920.0      1
1925.0      1
1927.0      1
1929.0      2
         ...
2012.0    221
2013.0    237
2014.0    252
2015.0    226
2016.0    106
Name: year, Length: 91, dtype: int64

In [25]:
df2['release_date'] = pd.to_datetime(df2['release_date'], errors='coerce')

In [26]:
df2['year'] = df2['release_date'].dt.year

In [27]:
df2['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [28]:
df2 = df2.drop(columns=['adult', 'belongs_to_collection', 'vote_average', 'vote_count', 'video', 'release_date', 'status', 'tagline', 'poster_path', 'popularity', 'homepage', 'overview'])

In [29]:
df2

,budget,genres,id,imdb_id,original_language,original_title,production_companies,production_countries,revenue,runtime,spoken_languages,title,year
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1995.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,1995.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,1995.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,1995.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,رگ خواب,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,NaN
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,2011.0
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,2003.0
45464,0,[],227506,tt0008536,en,Satana likuyushchiy,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",0.0,87.0,[],Satan Triumphant,1917.0
45465,0,[],461257,tt6980792,en,Queerama,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,2017.0

In [30]:
df2['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [31]:
list(df2['genres'][0])

['[',
 '{',
 "'",
 'i',
 'd',
 "'",
 ':',
 ' ',
 '1',
 '6',
 ',',
 ' ',
 "'",
 'n',
 'a',
 'm',
 'e',
 "'",
 ':',
 ' ',
 "'",
 'A',
 'n',
 'i',
 'm',
 'a',
 't',
 'i',
 'o',
 'n',
 "'",
 '}',
 ',',
 ' ',
 '{',
 "'",
 'i',
 'd',
 "'",
 ':',
 ' ',
 '3',
 '5',
 ',',
 ' ',
 "'",
 'n',
 'a',
 'm',
 'e',
 "'",
 ':',
 ' ',
 "'",
 'C',
 'o',
 'm',
 'e',
 'd',
 'y',
 "'",
 '}',
 ',',
 ' ',
 '{',
 "'",
 'i',
 'd',
 "'",
 ':',
 ' ',
 '1',
 '0',
 '7',
 '5',
 '1',
 ',',
 ' ',
 "'",
 'n',
 'a',
 'm',
 'e',
 "'",
 ':',
 ' ',
 "'",
 'F',
 'a',
 'm',
 'i',
 'l',
 'y',
 "'",
 '}',
 ']']

In [32]:
# df2['genres'] = df2['genres'].apply(lambda x:list(x))

In [33]:
type(df2['production_companies'][0])

str

In [34]:
import ast
df2['genres'] = df2['genres'].map(lambda x: ast.literal_eval(x) if type(x) == str else x)
df2['production_companies'] = df2['production_companies'].map(lambda x: ast.literal_eval(x) if type(x) == str else x)
df2['production_countries'] = df2['production_countries'].map(lambda x: ast.literal_eval(x) if type(x) == str else x)
df2['spoken_languages'] = df2['spoken_languages'].map(lambda x: ast.literal_eval(x) if type(x) == str else x)

In [35]:
df2['genres'][0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [36]:
type(df2['production_companies'][0])

list

In [37]:
df2['id'].astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [40]:
for i in range(len(df2['id'])):
    if df2['id'][i] == '1997-08-20':
        print(i, df2['id'][i])

19730 1997-08-20

In [41]:
df2.iloc[19730]

budget                                   /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                  [{'name': 'Carousel Productions', 'id': 11176}...
id                                                             1997-08-20
imdb_id                                                                 0
original_language                                                   104.0
original_title                   [{'iso_639_1': 'en', 'name': 'English'}]
production_companies                                                False
production_countries                                                    6
revenue                                                               NaN
runtime                                                               NaN
spoken_languages                                                      NaN
title                                                                 NaN
year                                                                  NaN
Name: 19730, dtype: object

In [42]:
df2.drop(19730, inplace=True)

In [43]:
df2.iloc[19730]

budget                                                           21000000
genres                  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
id                                                                  82693
imdb_id                                                         tt1045658
original_language                                                      en
original_title                                    Silver Linings Playbook
production_companies       [{'name': 'The Weinstein Company', 'id': 308}]
production_countries    [{'iso_3166_1': 'US', 'name': 'United States o...
revenue                                                       2.05739e+08
runtime                                                               122
spoken_languages                 [{'iso_639_1': 'en', 'name': 'English'}]
title                                             Silver Linings Playbook
year                                                                 2012
Name: 19731, dtype: object

In [44]:
df2[df2['id'].str.match('\d+-\d+-\d+')]

,budget,genres,id,imdb_id,original_language,original_title,production_companies,production_countries,revenue,runtime,spoken_languages,title,year
29503,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",False,7,NaN,NaN,NaN,NaN,NaN
35587,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",False,4.3,NaN,NaN,NaN,NaN,NaN

In [45]:
df2['id'] = df2[~df2['id'].str.match('\d+-\d+-\d+')]['id']

In [46]:
df2['id'].isna().sum()

2

In [47]:
df2 = df2.dropna(subset=['id'])

In [48]:
df2['id'].isna().sum()

0

In [49]:
df2['id'] = df2['id'].astype(int)

/media/remon/Study1/Projects/AI/movie-dataset-2023/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
type(df2['id'][0])

numpy.int64

In [51]:
df2

,budget,genres,id,imdb_id,original_language,original_title,production_companies,production_countries,revenue,runtime,spoken_languages,title,year
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1995.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,1995.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,1995.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,1995.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,رگ خواب,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,NaN
45462,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,2011.0
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,2003.0
45464,0,[],227506,tt0008536,en,Satana likuyushchiy,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",0.0,87.0,[],Satan Triumphant,1917.0
45465,0,[],461257,tt6980792,en,Queerama,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,2017.0

In [52]:
df2_v2 = pd.merge(df2, df3, on='id')

In [53]:
df2_v2

,budget,genres,id,imdb_id,original_language,original_title,production_companies,production_countries,revenue,runtime,spoken_languages,title,year,cast,crew
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1995.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,1995.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,1995.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,1995.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,1995.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,رگ خواب,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,NaN,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45534,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,2011.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45535,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,2003.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45536,0,[],227506,tt0008536,en,Satana likuyushchiy,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",0.0,87.0,[],Satan Triumphant,1917.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,0,[],461257,tt6980792,en,Queerama,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [54]:
df2_v2['cast'][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [55]:
df2_v2['cast'].isna().sum()

0

In [56]:
df2_v2['cast'] = df2_v2['cast'].map(lambda x: ast.literal_eval(x) if type(x) == str else x)
df2_v2['crew'] = df2_v2['crew'].map(lambda x: ast.literal_eval(x) if type(x) == str else x)

In [57]:
df2_v2['cast'].dtype

dtype('O')

In [58]:
type(df2_v2['cast'][0])

list

In [59]:
df2_v2['crew'].isna().sum()

0

In [60]:
type(df2_v2['crew'][0])

list

In [61]:
df2_v2

,budget,genres,id,imdb_id,original_language,original_title,production_companies,production_countries,revenue,runtime,spoken_languages,title,year,cast,crew
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1995.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,1995.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,1995.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,1995.0,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,1995.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,tt6209470,fa,رگ خواب,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,NaN,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45534,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,2011.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45535,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,2003.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45536,0,[],227506,tt0008536,en,Satana likuyushchiy,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",0.0,87.0,[],Satan Triumphant,1917.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,0,[],461257,tt6980792,en,Queerama,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [62]:
df2_v2['crew'][0]

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f55',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f5b',
  'department': 'Writing',
  'gender': 2,
  'id': 12892,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f61',
  'department': 'Writing',
  'gender': 0,
  'id': 12893,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f67',
  'department': 'Production',
  'gender': 1,
  'id': 12894,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f6d',
  'department': 'Production',
  'gender': 0,
  'id': 12895,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f73',
  'department': 'Production',
  'gender': 2,
  'id': 12896,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f79',
  'department': 'Production',
  'gender': 2,
  'id': 12897,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f8b',
  'department': 'Editing',
  'gender': 2,
  'id': 8,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f91',
  'department': 'Art',
  'gender': 2,
  'id': 7883,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'credit_id': '598331bf925141421201044b',
  'department': 'Editing',
  'gender': 2,
  'id': 1168870,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'credit_id': '5892168cc3a36809660095f9',
  'department': 'Sound',
  'gender': 0,
  'id': 1552883,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'credit_id': '5531824d9251415289000945',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1453514,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'credit_id': '589215969251412dcb009bf6',
  'department': 'Sound',
  'gender': 0,
  'id': 1414182,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'credit_id': '589217099251412dc500a018',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5693e6b29251417b0e0000e3',
  'department': 'Editing',
  'gender': 0,
  'id': 1429549,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'credit_id': '572e2522c3a36869e6001a9c',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7949,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'credit_id': '574f12309251415ca1000012',
  'department': 'Writing',
  'gender': 2,
  'id': 7879,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '574f1240c3a3682e7300001c',
  'department': 'Writing',
  'gender': 2,
  'id': 12890,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '574f12519251415c92000015',
  'department': 'Writing',
  'gender': 0,
  'id': 7911,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'credit_id': '574f12cec3a3682e82000022',
  'department': 'Crew',
  'gender': 0,
  'id': 1629419,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'credit_id': '574f14f19251415ca1000082',
  'department': 'Art',
  'gender': 0,
  'id': 7961,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'credit_id': '5751ae4bc3a3683772002b7f',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 12905,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'credit_id': '5891edbe9251412dc5007cd6',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '589213d39251412dc8009832',
  'department': 'Directing',
  'gender': 0,
  'id': 1748707,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'credit_id': '5892173dc3a3680968009351',
  'department': 'Sound',
  'gender': 2,
  'id': 4949,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'credit_id': '589217cec3a3686b0a0052ba',
  'department': 'Sound',
  'gender': 0,
  'id': 1372885,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'credit_id': '58921831c3a3686348004a64',
  'department': 'Editing',
  'gender': 0,
  'id': 1739962,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'credit_id': '58921838c3a36809700096c0',
  'department': 'Editing',
  'gender': 0,
  'id': 1748513,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'credit_id': '589218429251412dd1009d1b',
  'department': 'Art',
  'gender': 0,
  'id': 1458006,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'credit_id': '5891ed99c3a3680966007670',
  'department': 'Crew',
  'gender': 0,
  'id': 1748557,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'credit_id': '5891edcec3a3686b0a002eb2',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5891edf9c3a36809700075e6',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58920f0b9251412dd7009104',
  'department': 'Crew',
  'gender': 2,
  'id': 12890,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '58920f1fc3a3680977009021',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '58920f389251412dd700912d',
  'department': 'Production',
  'gender': 0,
  'id': 12909,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'credit_id': '58920fbd9251412dcb00969c',
  'department': 'Crew',
  'gender': 0,
  'id': 953331,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'credit_id': '589210069251412dd7009219',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7893,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'credit_id': '589210329251412dcd00943b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8025,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'credit_id': '5892103bc3a368096a009180',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 78009,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'credit_id': '5892105dc3a3680968008db2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748682,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'credit_id': '589210669251412dcd009466',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454030,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'credit_id': '5892107c9251412dd1009613',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748683,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'credit_id': '5892108ac3a3680973008d3f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748684,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'credit_id': '58921093c3a3686348004477',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 8029,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'credit_id': '5892109b9251412dcd0094b0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1426773,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'credit_id': '589210a29251412dc5009a29',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8035,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'credit_id': '589210ccc3a3680977009191',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748688,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'credit_id': '589210d7c3a3686b0a004c1f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 587314,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'credit_id': '589210e1c3a36809770091a7',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '589210ee9251412dc200978a',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748689,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'credit_id': '589210fa9251412dc8009595',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7892,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'credit_id': '589211029251412dc8009598',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 555795,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'credit_id': '5892110b9251412dc800959d',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7882,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'credit_id': '58921113c3a36863480044e4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8017,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'credit_id': '5892111c9251412dcb0097e9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1184140,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'credit_id': '58921123c3a36809700090f6',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8049,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'credit_id': '5892112b9251412dcb0097fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1509559,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'credit_id': '589211349251412dc80095c3',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748691,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'credit_id': '5892113cc3a3680970009106',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8050,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'credit_id': '58921148c3a3686b0a004c99',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8010,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'credit_id': '58921150c3a3680966009125',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8044,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'credit_id': '589211629251412dc5009b00',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454034,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'credit_id': '589211c1c3a3686b0a004d28',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7887,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'credit_id': '589211d4c3a3680968008ed9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1406878,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'credit_id': '589211f59251412dd4008e65',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748698,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'credit_id': '58921242c3a368096a00939b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748699,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'credit_id': '5892124b9251412dc5009bd2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748701,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'credit_id': '58921264c3a3686b0a004dbf',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748703,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'credit_id': '589212709251412dcd009676',
  'department': 'Lighting',
  'gender': 1,
  'id': 12912,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'credit_id': '5892127fc3a3686b0a004de5',
  'department': 'Lighting',
  'gender': 0,
  'id': 7899,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'credit_id': '589212cdc3a3680970009268',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892130f9251412dc8009791',
  'department': 'Art',
  'gender': 0,
  'id': 1748705,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'credit_id': '5892131c9251412dd4008f4c',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7889,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'credit_id': '589213249251412dd100987b',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '5892132b9251412dc80097b1',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58921332c3a368634800467b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892135f9251412dd4008f90',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748706,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'credit_id': '58921384c3a3680973008fd4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1176752,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'credit_id': '5892138e9251412dc20099fc',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1088034,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'credit_id': '58921395c3a368097700942f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447465,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'credit_id': '589213e2c3a3680973009026',
  'department': 'Directing',
  'gender': 0,
  'id': 1748709,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'credit_id': '589214099251412dc5009d57',
  'department': 'Art',
  'gender': 0,
  'id': 1748710,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'credit_id': '58921411c3a3686b0a004f70',
  'department': 'Art',
  'gender': 0,
  'id': 1443471,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'credit_id': '58921434c3a368096a00956e',
  'department': 'Art',
  'gender': 0,
  'id': 1748711,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'credit_id': '5892144ac3a36809680090de',
  'department': 'Editing',
  'gender': 0,
  'id': 1748712,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'credit_id': '58921479c3a368096800910f',
  'department': 'Editing',
  'gender': 0,
  'id': 1589729,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'credit_id': '5892148b9251412dd10099cc',
  'department': 'Editing',
  'gender': 0,
  'id': 1748716,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'credit_id': '589214959251412dcb009b1f',
  'department': 'Editing',
  'gender': 0,
  'id': 1748717,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'credit_id': '5892149ec3a3686348004798',
  'department': 'Editing',
  'gender': 0,
  'id': 1336438,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'credit_id': '589214adc3a368096a0095db',
  'department': 'Editing',
  'gender': 0,
  'id': 1748718,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'credit_id': '589214c7c3a368097700952b',
  'department': 'Production',
  'gender': 0,
  'id': 1748719,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'credit_id': '589214cec3a368096a009603',
  'department': 'Production',
  'gender': 0,
  'id': 1748720,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'credit_id': '589214e39251412dc8009904',
  'department': 'Crew',
  'gender': 0,
  'id': 1468014,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'credit_id': '58921544c3a3686b0a00507d',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '5892154c9251412dd1009a56',
  'department': 'Sound',
  'gender': 0,
  'id': 1425978,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'credit_id': '58921555c3a36809680091bd',
  'department': 'Sound',
  'gender': 2,
  'id': 8276,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'credit_id': '589215c39251412dcb009c12',
  'department': 'Sound',
  'gender': 0,
  'id': 7069,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'credit_id': '58921698c3a368096a009788',
  'department': 'Crew',
  'gender': 2,
  'id': 15894,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'credit_id': '589216a89251412dc2009ca4',
  'department': 'Sound',
  'gender': 0,
  'id': 1414177,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'credit_id': '589216c19251412dc2009cb9',
  'department': 'Sound',
  'gender': 1,
  'id': 1748724,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'credit_id': '589216ccc3a3680973009274',
  'department': 'Sound',
  'gender': 0,
  'id': 1748725,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'credit_id': '589216d79251412dc8009aa0',
  'department': 'Sound',
  'gender': 0,
  'id': 8067,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'credit_id': '589216e49251412dcd009a4f',
  'department': 'Production',
  'gender': 1,
  'id': 7902,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'credit_id': '589216f39251412dc2009cf3',
  'department': 'Production',
  'gender': 0,
  'id': 84493,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',

In [63]:
df2_v2['cast'][0]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]